.about-me {
    background-color: #F6F8FE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}

.about-me p {
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .about-me br {
        display: none;
    }

    .about-me p {
        width: 100%;
        display: block;
        margin: 10px 0px;
    }
}
