header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .main-header {
    padding: 0px 0px 0px 10%;
    width: 55%;
}

header .main-header p {
    color: #2351DC;
    margin: 0px !important;
}

header .main-header h5 {
    color: #2351DC;
    margin: 0px !important;
}

header .main-header .typed {
    margin: 0px 0px 20px;
}

header .side-header {
    padding: 0px 10% 0px 0px;
    background-color: #D3DCF8;
    width: 45%;
}

header .side-header img {
    width: 100%;
}